<?- include ("partials/header.ejs") ?>


<?- include ("search/partials/main-form.ejs") ?>


<main role="main" class="container">



    <div class="row mt-5">



    </div>


    <div class="row mt-5 main-page-statistics-container">
        <div class="col-md-12">
            <h4 class="text-center" style="color: #28905b; font-weight: 800; margin-bottom: 38px;">

            </h4>
        </div>
    </div>



</main>

<?- include ("partials/footer.ejs", {
    jsFilesToInclude: [

        ]
}) ?>